<section class="h-100 bg-dark">    
  <div class="container py-5 h-100" style="background-color: darkorange;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col" style="margin-top: 10px">
        <div class="card card-registration my-4">          
          <div class="row g-0" style="background-color: antiquewhite; text-align: center;">
              <h1><i class="fas fa-chalkboard"></i> Welcome to Mottainai Free Items Page</h1>
            <div class="notice">
              <p class="notice"><%= notice %></p>
            </div>
          <%= image_tag 'home.jpg', :alt => 'Home Image'%>
        </div>                
      </div>
      <h5><i class="fas fa-info-circle"></i> Information</h5>
      <p style="font-weight: bold;">Items are FREE and NO CASH deals.<br>
        Please upload everythings that you want to GIVE or DONATE.<br>
        You can also take items that you like.</p>
    </div>
  </div>
</section>