<section class="h-100 bg-dark">    
  <div class="container py-5 h-100" style="background-color: darkorange;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col" style="margin-top: 10px">
        <div class="card card-registration my-4">          
          <div class="row g-0" style="background-color: antiquewhite; text-align: center;">
            <div>
              <h1>Item List Page</h1>
            </div>
            <div align = "center">         
              <% @items.each do |item| %>
                <table>
                  <tr>
                    <td>
                      <%= link_to image_tag(item.image.url, width: '300px', height: '250px'), "/items/#{item.id}" %>
                      <% if user_signed_in? %>
                        <% if item.user_id == current_user.id %>
                          <div style = "text-align: center; font-weight: bold; color :red;" >You uploaded this item.</div>
                        <% end %>
                        <% if item.taked_user == current_user.name %>
                          <div style = "text-align: center; font-weight: bold; color :red;" >You taked this item.</div>
                        <% end %>
                      <% end %>                
                    </td>
                  </tr>
                </table>
              <% end %>
            <div class="pagination justify-content-center" > 
              <%= will_paginate @items, style: 'padding: 10px;' %>
            </div>
            <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>