<section class="h-100 bg-dark">    
  <div class="container py-5 h-100" style="background-color: darkorange;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col" style="margin-top: 10px">
        <div class="card card-registration my-4">          
          <div class="row g-0" style="background-color: antiquewhite; text-align: center;">
            <div>
              <h1>Item List Page</h1>
            </div>
            <b-container>          
              <b-row>
                <b-col>
                  <% @items.each do |item| %>
                    <%= link_to image_tag(item.image.url, width: '350px', height: '290px'), "/items/#{item.id}" %>
                  <% end %>
                </b-col>
              </b-row>
              <div class="pagination justify-content-center" > 
                <%= will_paginate @items, style: 'padding: 10px;' %>
              </div>
            </b-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>